
.description-text {
    font-size: 0.9em;
    color: var(--text-color-light);
    margin-bottom: 25px;
}

.customer-info-card {
    background-color: var(--light-bg-color);
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    box-shadow: var(--shadow-light);
}

.customer-info-card h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: var(--primary-color);
    font-size: 1.3em;
    border-bottom: 1px dashed var(--border-color);
    padding-bottom: 10px;
}

.customer-info-card p {
    margin: 8px 0;
    font-size: 0.95em;
    color: var(--text-color-dark);
}

.customer-info-card strong {
    color: #000;
}